/* Fonts */
    @font-face {
        font-family: HelveticaRoundedLTStd-Bd;
        src: url("../fonts/HelveticaRoundedLTStd-Bd.ttf") format("truetype");
    }

    @font-face {
        font-family: Crimson-Roman;
        src: url("../fonts/Crimson-Roman.ttf") format("truetype");
    }

body{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 86px 25px 780px 231px;
    grid-gap: 1.6%;
    font-family: "Crimson-Roman";
    /* overflow: hidden; */
}

/* Header Section */
    header{
        margin: 0;
        background-color:#a7b1c4;
        border-style: solid;
        border-width: 2px;
        border-color: #5a4e4d;
        font-family: HelveticaRoundedLTStd-Bd;
        font-size: 20px;
        
        display: grid;
        grid-template-columns: 108px repeat(10, 1fr);
        grid-template-rows: 86px;
        grid-gap: 1.6%;

        grid-column: 1/13;
        grid-row: 1/2;
    }

    #headerOptionsContainer{
        padding: 0;
        display: grid;
        grid-column: 2/11;
        grid-row: 1/2;
        grid-template-columns: repeat(10, 1fr);
        grid-gap: 10%;
        margin: 30px 0 0 10%;
    }

    #logo{
        display: flex;
        justify-content: center;
        text-align: center;
        background-image: url("../images/Logo.png");
        background-repeat: no-repeat;
        background-size: cover; 
        height: 108px;
        width: 108px;
        
        overflow:hidden;
        text-indent:200%;
        white-space:nowrap;

        grid-column: 1/3;
        grid-row: 1/3;
        z-index: 1;
    }

    #home{
        list-style: none;
        display: flex;
        justify-content: center;
        grid-column: 1/2;
    }

    #home a, #options a, #whereAreWe a, #about a, #contact a, #socials a{
        color: #ffffff;
        text-decoration: none;
        white-space:nowrap;
    }

    #home a:hover, #options a:hover, #whereAreWe a:hover, #about a:hover, #contact a:hover, #socials a:hover{
        color: #dbdbdb;
    }

    #options {
        list-style: none;
        display: flex;
        justify-content: center;
        grid-column: 2/3;
    }

    #whereAreWe {
        list-style: none;
        display: flex;
        justify-content: center;
        grid-column: 3/4;
    }

    #about {
        list-style: none;
        display: flex;
        justify-content: center;
        grid-column: 4/5;
    }

    #contact {
        list-style: none;
        display: flex;
        justify-content: center;
        grid-column: 5/6;
    }

    #socials {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    #twitter, #facebook{
        margin: 0 20% 0 0;
        position: relative;
    }

    #instagram{
        margin: 0;
        position: relative;
    }

    #instagram svg text, #twitter svg text, #facebook svg text{
        font-family: FontAwesome;
        fill: #000000;
        text-anchor: middle;
    }

    #instagram svg circle, #twitter svg circle, #facebook svg circle{
        fill: rgba(255, 255, 255, 0.5);
        stroke: #000000;
    }

    #instagram svg circle:hover, #twitter svg circle:hover, #facebook svg circle:hover{
        fill: rgba(255, 255, 255, 0.8);
        stroke: rgba(0, 0, 0, 0.5);
    }

    #navigationBar{
        background-color: #e8e8e8;
        border-style: solid;
        border-width: 1px;
        border-color: #95989a;
        
        grid-column: 1/13;
        grid-row: 2/3;
        
        height: 23px;
        z-index: -1;
        width: calc(100% + 2px);
        margin:-3px 0 0 -2px;
    }

    #navigationBarText a{
        color: #000000;
        text-decoration: none;
    }

    #navigationBarText{
        color: #000000;
        grid-column: 2/3;
        grid-row: 2/3;
        white-space:nowrap;
        margin: -3px 0 0 0;    
    }
/* Main Section */

    main{
        display: grid;
        grid-template-rows: 100px 350px 225px;
        grid-column-gap: 1.6%;
        grid-column: 1/13;
        grid-row: 3/4;
    }

    #optionsText{
        background-color: #5a4e4d;
        color: #ffffff;
        font-family: HelveticaRoundedLTStd-Bd;
        font-size: 30px;
        text-align: center;
        padding: 25px 0 0 0;
        grid-row: 1/2;
    }

    #buttons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 350px 125px;
        grid-column-gap: 0.5%;
    }

    #medicPlace, #kidsPlace, #relaxationPlace, #foodPlace{
        display: flex;
        justify-content: center;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 250px;
        overflow:hidden;
        text-indent:200%;
        white-space:nowrap;
        clip-path: circle(50% at 50% 50%);
        transition: 0.5s ease;
        margin: 50px 0 0 15%;
    }

    #medicPlaceContainer, #kidsPlaceContainer, #relaxationPlaceContainer, #foodPlaceContainer{
        overflow: hidden;
        height:350px; 
        width:100%;
        grid-row: 1/2;
        background-color: #e8e8e8;
    }

    #medicPlaceContainer{
        grid-column: 1/2;
    }

    #kidsPlaceContainer{
        grid-column: 2/3;
    }

    #relaxationPlaceContainer{
        grid-column: 3/4;
    }

    #foodPlaceContainer{
        grid-column: 4/5;
    }

    #medicPlace:hover, #kidsPlace:hover, #relaxationPlace:hover, #foodPlace:hover{
        filter: brightness(110%);
    }

    #medicPlace{
        background-image: url("../images/Medic.png");
    }

    #kidsPlace{
        background-image: url("../images/Kids.png");
    }

    #relaxationPlace{
        background-image: url("../images/Relaxation.png");
    }

    #foodPlace{
        background-image: url("../images/Food.png");
    }

    #medicPlaceText, #kidsPlaceText, #relaxationPlaceText, #foodPlacePlaceText{
        background-color: #7e675e;
        height: 300px;
        padding: 30px 10% 0 10%;
        grid-row: 2/3;
    }

    #medicPlaceText{
        grid-column: 1/2;
    }

    #kidsPlaceText{
        grid-column: 2/3;
    }

    #relaxationPlaceText{
        grid-column: 3/4;
    }

    #foodPlacePlaceText{
        grid-column: 4/5;
    }

/* Footer Section */

    footer{
        font-family: HelveticaRoundedLTStd-Bd;
        font-size: 15px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        grid-column: 1/13;
        grid-row: 4/5;
    }

    #locationBox{
        background-color:#a9b3c6;
        margin: 1.5% 0.75% 1.5% 1.5%;
        grid-column: 1/2;
    }

    #locationBoxText{
        color: #ffffff;
        margin: 10% 0 0 8%;
    }

    #aboutBox{
        background-color:#a9b3c6;
        margin: 1.5% 0.75% 1.5% 0.75%;
        grid-column: 2/3;
    }

    #aboutBoxText{
        color: #ffffff;
        margin:25% 0 0 40%;
    }

    #aboutBoxText a{
        color: #ffffff;
        text-decoration: none;
        white-space:nowrap;
    }

    #aboutBoxText a:hover{
        color: #dbdbdb;
    }

    #socialsBox{
        background-color:#a9b3c6;
        margin: 1.5% 0.75% 1.5% 0.75%;
        grid-column: 3/4;
    }

    #socialsBoxIcons {
        list-style: none;
        display: flex;
        justify-content: center;
    }

    #twitterFooter, #facebookFooter{
        margin: 24% 10% 0 0;
        position: relative;
    }

    #instagramFooter{
        margin: 24% 0 0 0;
        position: relative;
    }

    #instagramFooter svg text, #twitterFooter svg text, #facebookFooter svg text{
        font-family: FontAwesome;
        fill: #000000;
        text-anchor: middle;
    }

    #instagramFooter svg circle, #twitterFooter svg circle, #facebookFooter svg circle{
        fill: rgba(255, 255, 255, 0.5);
        stroke: #000000;
    }

    #instagramFooter svg circle:hover, #twitterFooter svg circle:hover, #facebookFooter svg circle:hover{
        fill: rgba(255, 255, 255, 0.8);
        stroke: rgba(0, 0, 0, 0.5);
    }

    #logoBox{
        background-color:#a9b3c6;
        margin: 1.5% 1.5% 1.5% 0.75%;
        grid-column: 4/5;
    }

    #logoBoxLogo{
    display: flex;
    justify-content: center;
    text-align: center;
    background-image: url("../images/Logo.png");
    background-repeat: no-repeat;
    background-size: cover; 
    height: 108px;
    width: 108px;

    overflow:hidden;
    text-indent:200%;
    white-space:nowrap;
    float: right;
    margin: 27% 0 0 0;
    }